@import "tailwindcss";

@theme {
  --color-neon-green: #22c55e;
  --color-dark-bg: #000000;
}

/* Add your custom styles below the @theme block */
body {
  background-color: black;
  color: #22c55e;
}